@model ProfileViewModel


<div class="profile" style="position: absolute;
                                      top: 0;
                                      left: 0; padding: 40px;
                                      background-color: #ffffff;
                                      width: 100%;">
    <div class="row mt-5">
        <div class="col-md-9 order-2 order-md-1">
            <div class="card">
            
                <h5 class="card-header text-primary" style="height: 40px; padding-top: 8px">Employee Information</h5>
          
                <div class="card-body">
                    <div class="row py-2" style="background-color: bisque">
                        <div class="col-md-3">
                            <img class="img-fluid img-thumbnail" src="/uploads/@Model.Id/@Model.ProfilePictureUrl" alt="Profile Picture"/>
                        </div>
                        <div class="col-md-9" style="padding-top: 90px;">
                            <h5 class="card-title align-bottom">@Model.FirstName @Model.LastName</h5>
                        </div>
                    </div>
                    <h5 class="card-title text-primary mt-3">Personal Information</h5>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><strong>Email: </strong>@Model.Email</p>
                            <p class="card-text"><strong>Sex: </strong>@Model.Gender</p>
                            <p class="card-text"><strong>Address: </strong>@Model.Address</p>
                            <p class="card-text"><strong>Marital Status: </strong>@Model.MaritalStatus</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><strong>Phone Number: </strong>@Model.PhoneNumber</p>
                            <p class="card-text"><strong>DOB: </strong>@Model.BirthDate.Date</p>
                            <p class="card-text"><strong>Role: </strong>@Model.Role</p>
                            <p class="card-text"><strong>Number of Children: </strong>@Model.NumberOfChildren</p>
                        </div>
                    </div>
                    @if (@Model.Active)
                    {
                        <hr/>
                        <h5 class="card-title text-primary">Employement Information</h5>
                        <hr/>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><strong>Status: </strong>@Model.Status</p>
                                <p class="card-text"><strong>Position: </strong>@Model.Position</p>
                                <p class="card-text"><strong>Last School Attended: </strong>@Model.LastSchoolAttended</p>
                                <p class="card-text"><strong>Contract Expire: </strong>@Model.ContractExpirationDate.Date</p>
                                <p class="card-text"><strong>Annual Salary: </strong>@Model.AnnualSalary</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>Department: </strong>@Model.Department</p>
                                <p class="card-text"><strong>Highest Qualification: </strong>@Model.HighestQualification</p>
                                <p class="card-text"><strong>Date Hired: </strong>@Model.DateJoined.Date</p>
                                <p class="card-text"><strong>Duration of Service: </strong>@Model.YearsOfService Years, @Model.MonthsOfService Months, @Model.DaysOfService Days</p>
                                <p class="card-text"><strong>Last Date Promoted: </strong>@Model.LastDateOfPromotion</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3 order-1 order-md-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" asp-action="Profile" asp-route-id="@Model.Id" role="tab" aria-controls="home">Profile</a>
                <a class="list-group-item list-group-item-action" href="" role="tab" aria-controls="profile">Payment History</a>
                <a class="list-group-item list-group-item-action" href="" role="tab" aria-controls="messages">Leave Request</a>
                <a class="list-group-item list-group-item-action" asp-action="Edit" asp-route-id="@Model.Id" role="tab" aria-controls="settings">Edit Profile</a>
                <a class="list-group-item list-group-item-action" href="" role="tab" aria-controls="settings" data-toggle="modal" data-target="#deletemodal">Delete Account</a>
                <a class="list-group-item list-group-item-action" href="" role="tab" aria-controls="settings">Sign out</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Dear @Model.FirstName @Model.LastName are you want to procede deleting your account??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <a role="button" type="submit" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>