@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SmartTech</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/fontawesome-all.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/datepicker.css"/>
        <link rel="stylesheet" href="~/css/dashboard.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
              asp-fallback-href="~/css/fontawesome-all.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/css/datepicker.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/dashboard.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
   <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-controller="Home" asp-action="Index"><img src="/images/strikethrough.svg" height="30px" width="30px"/></a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" asp-controller="Account" asp-action="Logout">Sign out</a>
        </li>
      </ul>
    </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Admin Dashboard</span>  
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="Index">
              Employees <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Leave Requests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Payroll
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Departments
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Career Desk
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Manage Account</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" asp-action="AdminProfile" asp-route-id="@UserManager.GetUserId(User)">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-action="AdminEdit" asp-route-id="@UserManager.GetUserId(User)">
              Edit Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" href="" data-target="#deleteadmin" >
              Delete Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout" >
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          
      <div class="container-fluid">
        @RenderBody()
            
        <footer class="footer ml-0 text-center">
          <div class="container-fluid">
            <span class="text-muted">&copy; 2018 - SmartTech</span>
          </div>
        </footer>
      </div>
         
    </main>
  </div>
</div>

<div class="modal fade" id="deleteadmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Administrator Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please confirm deletion of your administrator account, you must have admin passcode to register again!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
        <a role="button" type="button" asp-action="AdminDelete" asp-route-id="@UserManager.GetUserId(User)" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>




<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.slim.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/datepicker.en.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.slim.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T">
    </script>
    <script src="~/js/datepicker.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
